{% extends "default.twig" %}

{% block title %}vBin | {{ title }}{% if title is empty %}Whoops!{% endif %}{% endblock %}

{% block navigation %}
<!-- Navigation -->

<ul class="nav navbar-nav">
	<li><a href="{{ urlFor('/') }}" id="tbNewAction"><i class="fa fa-fw fa-file-text"></i>New</a></li>
</ul>

{% endblock %}

{% block content %}
<div class="container">
{% if error_image %}
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<img class="img-responsive" src="{{ siteUrl('/assets/img/' + error_image) }}" alt="error" title="Whoops!" />
		</div>
	</div>
{% endif %}
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			<div class="alert alert-danger"><strong>{% if not error_title %}Oops!{% endif %}{{ error_title }}</strong> {{ error }}</div>
		</div>
	</div>
</div>
{% endblock %}
