{% extends "default.twig" %}
{% block title %}vBin | {{ title }}{% if title is empty %}Editor{% endif %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block navcollapsetoggle %}{% endblock %}
{% block navigation %}
<!-- Navigation -->

<ul class="nav navbar-nav">
	<li><a href="{{ urlFor('/') }}#!/{{ model.id }}" id="tbView"><i class="fa fa-fw fa-arrow-left"></i>Back to Editor</a></li>
</ul>

{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-fluid">
	<div class="page-header">
		<h1>Revision History</h1>
	</div>
{% if model.revisions %}
	<table class="table">
		<thead>
			<tr>
				<th style="width: 100px;" scope="col">ID</th>
				<th>Title</th>
				<th style="width: 200px;" scope="col">Created</th>
				<th style="width: 100px;" scope="col">
					<a id="compareBtn" data-diff-link="{{ urlFor('/diff/:id/:spec', {'id': model.id, 'spec': '%spec%'}) }}" href="#" class="btn btn-default btn-xs with-tooltip" title="Compare selected revisions"><i class="fa fa-fw fa-exchange"></i>Compare</a>
				</th>
			</tr>
		</thead>
		<tbody>
{% for revision in model.revisions %}
			<tr>
				<td><a href="{{ urlFor('/') }}#!/{{ model.id }}/{{ revision.id }}">{{ revision.id }}</a></td>
				<td>{{ revision.title }}</td>
				<td class="with-tooltip" title="{{ revision.created.toDateTimeString() }}"><i class="fa fa-fw fa-clock-o"></i>{{ revision.created.diffForHumans() }}</td>
				<td>
					<div style="width: 36px; float: left;">
{% if not loop.first %}
						<input class="radio-revFrom" type="radio" name="revFrom" data-index="{{ loop.index0 }}" value="{{ revision.id }}" />
{% else %}
&nbsp;
{% endif %}
					</div>
					<div style="width: 36px; float: left;">
{% if not loop.last  %}
						<input class="radio-revTo" type="radio" name="revTo" data-index="{{ loop.index0 }}" value="{{ revision.id }}" />
{% endif %}
					</div>
				</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 alert alert-danger center">No history for this item.</div>
	</div>
{% endif %}
</div>

{% endblock %}
{% block javascripts %}
<!-- Additional javascripts -->
<script src="{{ siteUrl('/assets/js/history.js') }}"></script>
{% endblock %}
