{% extends "default.twig" %}
{% block title %}vBin | {{ title }}{% if title is empty %}Compare Revisions{% endif %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block navcollapsetoggle %}{% endblock %}
{% block navigation %}
<!-- Navigation -->

<ul class="nav navbar-nav">
	<li><a href="{{ urlFor('/history/:id', {'id': model.id}) }}" id="tbView"><i class="fa fa-fw fa-arrow-left"></i>Back to Revision History</a></li>
</ul>

{% endblock %}
{% block content %}
<!-- Content -->

<div class="container-fluid">

	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="{{ urlFor('/diff/:id/:spec', {'id': model.id, 'spec': spec}) }}">Unified Diff</a></li>
		<li><a href="{{ urlFor('/compare/:id/:spec', {'id': model.id, 'spec': spec}) }}">Side-by-Side Diff</a></li>
	</ul>

	<table class="table table-condensed table-fixed table-noborders">
		<tbody>
{% for diffLine in diff.unifiedDiffLines %}
{%   if diffLine|first == '+' %}
{%     set class %} success{% endset %}
{%   elseif diffLine|first == '-' %}
{%     set class %} danger{% endset %}
{%   else %}
{%     set class %}{% endset %}
{%   endif %}
			<tr class="diff-row{{ class }}">
				<td class="diff-cell">{{ diffLine }}</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
{% block javascripts %}
<!-- Additional javascripts -->

{% endblock %}